.DS_Store
*.out
*.a
.vscode

practice/2_sorting/*
!practice/2_sorting/*.c
!practice/2_sorting/*.h
!practice/2_sorting/*.md
!practice/2_sorting/Makefile

practice/3_search/*
!practice/3_search/*.c
!practice/3_search/*.h
!practice/3_search/*.md
!practice/3_search/Makefile

practice/5_bitmanip/*
!practice/5_bitmanip/*.c
!practice/5_bitmanip/*.h
!practice/5_bitmanip/*.md
!practice/5_bitmanip/Makefile

practice/6_simple_data_structures/*
!practice/6_simple_data_structures/*.c
!practice/6_simple_data_structures/*.h
!practice/6_simple_data_structures/*.md
!practice/6_simple_data_structures/Makefile

practice/7_hash_table/*
!practice/7_hash_table/*.c
!practice/7_hash_table/*.h
!practice/7_hash_table/*.md
!practice/7_hash_table/Makefile

practice/8_heap/*
!practice/8_heap/*.c
!practice/8_heap/*.h
!practice/8_heap/*.md
!practice/8_heap/Makefile

practice/9_disjoint_set_union/*
!practice/9_disjoint_set_union/*.c
!practice/9_disjoint_set_union/*.h
!practice/9_disjoint_set_union/*.md
!practice/9_disjoint_set_union/Makefile

practice/10_graphs/*
!practice/10_graphs/*.c
!practice/10_graphs/*.h
!practice/10_graphs/*.md
!practice/10_graphs/Makefile

build
*build*
!*build.sh*
*bin*
