.DS_Store
*.out
*.a
.vscode

contests/

practi git remote set-url <remote_name> <remote_url>ce/2_sorting/*
!practice/2_sorting/*.c
!practice/2_sorting/*.h
!practice/2_sorting/*.md
!practice/2_sorting/Makefile

practice/3_search/*
!practice/3_search/*.c
!practice/3_search/*.h
!practice/3_search/*.md
!practice/3_search/Makefile

practice/5_bitmanip/*
!practice/5_bitmanip/*.c
!practice/5_bitmanip/*.h
!practice/5_bitmanip/*.md
!practice/5_bitmanip/Makefile

practice/6_simple_data_structures/*
!practice/6_simple_data_structures/*.c
!practice/6_simple_data_structures/*.h
!practice/6_simple_data_structures/*.md
!practice/6_simple_data_structures/Makefile

practice/7_hash_table/*
!practice/7_hash_table/*.c
!practice/7_hash_table/*.h
!practice/7_hash_table/*.md
!practice/7_hash_table/Makefile
